$mobile-breakpoint: 576px; // for mobile screens
$tablet-breakpoint: 768px; // for tablet screens
$desktop-breakpoint: 992px; // for desktop screens
$large-desktop-breakpoint: 1200px; // for large desktop screens
