:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --light-dark: #333333;
  --dark: #1b1c1c;
  --light-grey: #969696;

  --main-font: "Lato";
  --title-font-size: 3.5rem;
  --sub-title-font-size: 1.6rem;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-bold";
  src: url("../assets/Lato-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--main-font);
  color: #333;
}

.arrow {
  width: 20px;
  /* height: 50px; */
  fill: #fff;
}

.arrow--right {
  left: auto;
  right: 0px;
}
.section {
  margin: auto auto 80px auto;
}
.icon {
  width: 20px;
  margin-left: 8px;
}

.button {
  font-family: "Lato-bold";
  padding: 12px 15px;
  background: white;
  border: 3px solid black;
  border-radius: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: yellowgreen;
}
.project-action-btn {
  font-size: 16px;
  padding: 10px;
  border-width: 2px;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.sub-title {
  font-size: var(--sub-title-font-size);
  font-family: Lato-bold;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}
.center {
  text-align: center;
}

.nav-gp {
  padding: 25px 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 11;
}
.link-gp {
  display: flex;
  justify-content: space-between;
  width: 560px;
}
.nav_menu_item {
  /* margin: 15px; */
  text-transform: uppercase;
  font-size: 15px;
  color: #333333;
  cursor: pointer;
  font-family: Lato-bold;
  padding-bottom: 4px;
  position: relative;
}

.nav_menu_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s ease-out;
}

.nav_menu_item:hover::before {
  width: 100%;
}
