.main {
  margin-bottom: 40vh;
}
.intro {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro_txt {
  /* text-align: center; */
  font-size: 4rem;
  line-height: 1.5em;
  font-weight: bold;
}
.intro_txt_center {
  font-size: 7rem;
}

.portfo_head {
  font-size: var(--title-font-size);
  margin-bottom: 40px;
}

.portfolio_sec {
  width: 65%;
}

.about_me_sec {
  width: 80%;
}

.my_pic {
  width: 300px;
  border-radius: 100px 0px;
  margin: auto;
}

.me_gp {
  margin: 50px 50px 80px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0px;
  grid-auto-flow: row;
}

.my_desc {
  font-size: 20px;
  color: #333;
  line-height: 1.3em;
}
.resume_wrap {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 16px;
  /* margin-top: 20px; */
}
.contact_icon_gp {
  justify-content: center;
  display: flex;
  gap: 50px;
  align-items: center;
}
.contact_icon_gp > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
}
.contact_icon_gp > img:hover {
  scale: 1.3;
  transition: 0.7s ease;
}
